@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --blue: #010080;
  --light-grey: #e4e8f0;
  --white: #fbfcfc;
  --grey: #6b7485;
}
#dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-grey);
}
.sidebar {
  width: 15%;
  height: 100%;
  display: grid;
  padding: 2em 0px;
  justify-content: center;
  align-content: space-between;
  background: var(--light-grey);
}
.logo {
  width: 100%;
}
.logo .LoginTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 40px;
  font-weight: bold;
  color: var(--blue);
}
#dashboardPages {
  display: grid;
}
#dashboardPages li {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 6px 15px;
  border-radius: 12px;
  font-size: 15px;
  color: var(--grey);
  cursor: pointer;
  align-items: center;
}
#dashboardPages li:hover {
  background-color: #010080;
  color: white;
}
#dashboardPages li.checked {
  background-color: #010080;
  color: white;
}
.checked {
  background-color: #010080;
  color: white;
}
#dashboardPages li:hover svg path {
  /* stroke: transparent; */
  fill: white;
}
.discount {
  width: 90%;
  height: 200px;
  background: var(--blue);
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.discount p {
  font-size: 15px;
  font-weight: 300;
}
.discount span {
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.discount img {
  width: 90%;
  height: 110px;
  margin: 0 auto;
  margin-top: -20px;
}
.flexBox {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
}
.flexBox img {
  border-radius: 50%;
}
.flexBox span {
  font-size: 12px;
  color: var(--grey);
}
#toggle {
  display: none;
}
.show-links {
  max-height: 200px;
  opacity: 1;
}
/* mainContent css */
.mainContent {
  width: 85%;
  height: 100%;
  padding: 2em;
  background: var(--white);
}
#dashboardContainer {
  width: 100%;
  min-height: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#dashboardContainer .left {
  width: 70%;
  min-height: 630px;
  padding: 20px;
  display: grid;
  gap: 10px;
}
.left .FlexBoxes {
  width: 100%;
  height: 130px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}
.FlexBoxes #box1,
.FlexBoxes #box2 {
  width: 50%;
  height: 100%;
  display: grid;
  border-radius: 5px;
  padding: 10px;
  background: var(--light-grey);
}
#box1 h2,
#box2 h2 {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#box1 p,
#box2 p {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boldText {
  font-size: 40px;
  font-weight: bold;
}
.greenSpan {
  color: green;
}
#box1 h2 span,
#box2 h2 span {
  height: 30px;
  padding: 5px;
  display: flex;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  background: #b9396c;
}
#box1 .num,
#box2 .num {
  justify-self: flex-end;
}
.contactBox {
  width: 100%;
  height: 460px;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--light-grey);
  padding: 10px;
}
.contactBox::-webkit-scrollbar {
  width: 5px;
}
.contactBox::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 10px;
}
.contactBox::-webkit-scrollbar-button {
  display: none;
}

.contactBox h2 {
  font-weight: 400;
  padding-left: 1em;
}
.contactBox p {
  font-size: 12px;
  font-weight: 300;
  padding-left: 2em;
}
#contactTable {
  width: 100%;
  margin: 20px;
  border-spacing: 10px;
  text-align: left;
}
#contactTable th {
  font-weight: 400;
  font-size: 12px;
  color: var(--grey);
}
#contactTable .row {
  width: 100%;
  height: 30px;
}
#contactTable td {
  font-weight: 400;
  font-size: 12px;
}
#contactTable td img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--white);
}
#dashboardContainer .right {
  width: 30%;
  min-height: 630px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right .messages {
  width: 100%;
  height: 600px;
  padding: 10px;
  overflow-y: scroll;
  border-radius: 5px;
  background: var(--light-grey);
}
.messages::-webkit-scrollbar {
  width: 5px;
}
.messages::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 10px;
}
.messages h2 {
  font-weight: 400;
}
.MessageflexBox {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 10px;
  margin: 10px 0px;
  justify-content: flex-start;
  align-items: flex-end;
}
.MessageflexBox img {
  border-radius: 50%;
}
.MessageflexBox span {
  font-size: 12px;
  color: var(--grey);
}
.messageCorner {
  display: none;
}
.MsgFlexBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MsgFlexBox img {
  border-radius: 50%;
}
.MsgFlexBox > div {
  display: flex;
  gap: 10px;
}
.MsgFlexBox p {
  display: grid;
  padding: 10px;
  font-weight: 500;
}
.MsgFlexBox span {
  font-size: 12px;
  color: var(--grey);
}
.MsgIcons span {
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}
.MsgBox div {
  display: flex;
  gap: 10px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}
.MsgBox p {
  color: var(--white);
  padding: 20px;
  background: var(--blue);
  border-radius: 12px 12px 12px 0px;
}
.MsgBox span {
  font-size: 12px;
  color: var(--grey);
  position: absolute;
  top: 8em;
  left: 6em;
}
.MsgBox img {
  border-radius: 50%;
}
.firstContent {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.firstContent .MsgIcons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.firstContent .MsgIcons span {
  background: var(--blue);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
@media (max-width: 1440px) {
  #dashboard {
    height: 116vh;
    flex-direction: column;
  }
  .sidebar,
  .mainContent {
    width: 100%;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 2em 20px;
  }
  #dashboardPages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 300px;
  }
  .discount {
    display: none;
  }
  #dashboardPages li {
    width: 165px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 6px 15px;
    border-radius: 12px;
    font-size: 15px;
    color: var(--grey);
    align-items: center;
  }
}
@media (max-width: 1390px) {
  #dashboardPages {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    background-color: var(--light-grey);
    max-height: 0;
    transition: max-height 1s ease;
  }

  #dashboardPages.show-links {
    display: flex;
    max-height: 300px;
  }

  #toggle {
    display: block;
    cursor: pointer;
  }

  .sidebar {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 2em 20px;
    width: 100%;
  }
  #dashboardContainer {
    flex-direction: column;
  }
  #dashboardContainer .left,
  #dashboardContainer .right {
    width: 100%;
  }
  .right .messages {
    width: 30%;
  }
  .messageCorner {
    display: block;
    width: 70%;
    height: 600px;
    padding: 20px;
    background: var(--light-grey);
    border-left: 1px solid var(--white);
  }
}
@media (max-width: 1220px) {
  .right .messages {
    width: 40%;
  }
  .messageCorner {
    display: block;
    width: 60%;
  }
}
@media (max-width: 990px) {
  #dashboardPages.show-links {
    flex-direction: column;
    align-items: center;
  }
  .right .messages {
    width: 100%;
  }
  .messageCorner {
    display: none;
  }
}
@media (max-width: 887px) {
  .contactBox {
    overflow: scroll;
  }
  .mainContent {
    width: 100%;
    height: 100%;
    padding: 0em;
  }
  .boldText {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .firstContent .MsgIcons {
    display: none;
  }
  .firstContent {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .flexBox {
    display: none;
  }
}
